@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
	body
	{
	background: #EFEFEF;
	color: #4C4C4C;
	font-family: "PT Sans", Arial;
	font-size: 16px;
	margin: 0 auto;
	width:780px;
	}
	header
	{
	background: #434343;
	color: white;
	margin: 0;
	padding: 0.1em;
	}
	header:after{
	clear: both;
	content: "";
	display: block;
	}
	header figure
	{
	float: left;
	}
	header #logo img
	{
	width: 80px;
	margin-top: 14px;
	margin-right: 18px;
	margin-bottom: 18px;
	margin-left: 18px;
	}
	header h1
	{
	font-size: 20px;
	font-weight: normal;
	display: block;
	margin-bottom: 2em;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 2em;
	}
	#contenido
	{
		margin: 0 auto;

	}
	#contenido .item
	{
		background: white;
		border-bottom: 3px #22BCE0 solid;
		min-height: 100px;
		padding: 0.3em 0.3em 0.3em 0.3em;
	}
	#contenido .item a
	{
		text-decoration: none;
	}
	#contenido .item p
	{
		color: #7A7A7A;
		font-size: 0.8em;
	}
	#contenido .item .datos a
	{
		color:#938f8f;
		font-size: 1.1em;
		margin-bottom: 1em;
		vertical-align: bottom;

	}
	#contenido .item .datos .direccion_icon:before
	{
		color: #938f8f;
		content: "\e000";
		font-family: "icomoon";
		padding-right: 0.3em;
	}
	#contenido .item .email_icon:before
	{
		color: #938f8f;
		content: "\e00d";
		font-family: "icomoon";
		padding-left: 0.5em;
		padding-right: 0.3em;	
	}
	#contenido .item .titulo .facebook_item:after
	{
		color: #3C599D;
		content: "\e002";
		font-family: "icomoon";
		font-size: 25px;
		padding-left: 0.5em;
		float: right;
	}
	#contenido .izquierda .item .titulo .homepage_icon:after
	{
		color: #B82B39;
		content: "\e00e";
		font-family: "icomoon";
		font-size: 25px;
		text-decoration: none;
		float: right;
		padding-left: 0.5em;

	}
	#contenido .item .imagen_item 
	{
		float: left;
		margin: 0 1em 0 0;
	}
	#contenido .item .telefono_icon:before
	{
		color: #938f8f;
		content: "\e006";
		font-family: "icomoon";
		font-size: 0.8em;
		padding-right: 0.3em;		
	}
	#contenido .item .titulo
	{
		color: #444;
		font-size: 1.2em;
		padding: 0 0.2em 0.2em 0;
	}
	#contenido .item .twitter_item:before
	{
		color: #5DD7FC;
		content: "\e003";
		font-family: "icomoon";
		font-size: 25px;
		text-decoration: none;
		float: right;
		padding-left: 0.5em;

	}
	#contenido .derecha
	{
		float: right;
		width: 370px;
	}
	#contenido .izquierda
	{
		float: left;
		width: 370px;
	}
	p
	{
	margin: 0;
	}
